.footer{
    display: flex;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    p{
        font-size: 20px;
        color: var(--footer-text-color);
    }

}

@media(width <=400px){
    .footer{
        p{
            font-size: 14px;
        }
    }
}